node_modules/

src/vm/*
!src/vm/extensions/
!src/vm/.*

# APM dependencies
apm_modules/

# Local Agent files
.agents/
.claude/
.cursor/

# Playwright temporary files
.playwright-*/*

# Certificates and keys
*.pem
